<div class="exm01 theme-1">
    <div class="container slide">
        <div class="row">
			<div class="col-sm-12 text-center">
				<div class="col-sm-3 content">
					<img src="../../static/images/Picture1.png" alt="Alt text">
					<img src="../../static/images/Picture2.png" alt="Alt text" class="threeLineSpace">
				</div>
				<div class="col-sm-3 content">
					<img src="../../static/images/Picture1.png" alt="Alt text">
					<img src="../../static/images/Picture1.png" alt="Alt text">
					<img src="../../static/images/Picture3.png" alt="Alt text" class="threeLineSpace">
				</div>
				<div class="col-sm-3 content">
					<img src="../../static/images/Picture5.png" alt="Alt text">
					<img src="../../static/images/Picture5.png" alt="Alt text">
					<img src="../../static/images/Picture8.png" alt="Alt text" class="fourLineSpace">
				</div>
				<div class="col-sm-3 content">
					<img src="../../static/images/Picture3.png" alt="Alt text">
				</div>
			</div>
            <div class="col-xs-2">
				<audio-component src="en=../../static/audio/19NA00_c01s01_thgr_08_02.mp3;es=../../static/audio/19NA00_c01s01_thgr_08_02_es.mp3;"></audio-component>
            </div>
            <div class="col-xs-10">
                <navigation-component controller-as="main"></navigation-component>
            </div>
        </div>
    </div>
    <captions-component></captions-component>
</div>
