body,
html,
main[role=main],
main[role=main]>div {
    height: 100%;
    position: relative
}

body,
html {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Crimson Text', serif;
    font-size: 18px
}

:focus {
    outline: 0!important
}

.dds-directive .objectList {
    min-height: 80px;
    padding-bottom: 10px;
    text-align: center
}

.dds-directive .dropList {
    text-align: center
}

.dds-directive .dropList .drop {
    border: 4px dashed #d8d8d8;
    border-radius: 10px;
    display: inline-block;
    vertical-align: top;
    width: 250px;
    min-height: 285px;
    background: #fff;
    margin-left: 12px;
    margin-right: 12px;
    padding: 10px 0
}

.ddd-directive .object,
.dds-directive .object {
    height: 64px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px
}

.dds-directive .object {
    width: 48px
}

.dds-directive .object.type-0 {
    background: url(../images/hat-green-copy-4@3x.png) no-repeat;
    background-size: contain
}

.dds-directive .object.type-1 {
    background: url(../images/hat-yellow-copy-3@3x.png) no-repeat;
    background-size: contain
}

.ddd-directive .objectArea {
    min-height: 80px;
    padding-bottom: 10px;
    text-align: center
}

.ddd-directive .dropArea {
    border: 4px dashed #d8d8d8;
    border-radius: 10px;
    width: 100%;
    min-height: 285px;
    padding: 10px
}

.ddd-directive .object {
    background: url(../images/hat-green-copy-4@3x.png) no-repeat;
    background-size: contain;
    width: 48px
}

.more-info {
    position: absolute;
    width: 255px;
    z-index: 2
}

.more-info a.more-info-btn {
    left: 30px;
    position: relative
}

.more-info .popup {
    border: 2px solid #1e68b2;
    border-radius: 3px;
    padding: 10px 20px;
    max-width: 270px;
    font-size: 16px;
    position: absolute;
    top: -150px;
    left: -25px;
    background: #fff;
    color: #1e304c;
    font-family: 'SourceSansPro-Regular, Source Sans Pro';
    visibility: hidden
}

.more-info .popup:after,
.more-info .popup:before {
    content: '';
    position: absolute;
    left: 60px
}

.more-info a.more-info-btn:hover+.popup {
    visibility: visible
}

.more-info .popup:after {
    bottom: -20px;
    border: 10px solid transparent;
    border-top: 10px solid #1e68b2;
    z-index: 0
}

.more-info .popup:before {
    bottom: -17px;
    border: 10px solid transparent;
    border-top: 10px solid #fff;
    z-index: 1
}

.cnv-container,
.cp-container,
.theme-1 .captions {
    position: relative;
    font-family: 'Source Sans Pro', sans-serif
}

.cnv-container,
.cp-container {
    border: 1px solid #c4c4c4;
    display: table
}

.cnv-container .toolbar,
.cp-container .toolbar {
    display: table;
    background: #f4f4f4;
    width: 100%;
    font-size: 13px
}

.cnv-container .toolbar button,
.cp-container .toolbar button {
    border: none;
    background: #f4f4f4;
    float: left;
    color: #1e304c;
    padding: 10px 15px
}

.cnv-container .toolbar span.dropdown {
    display: block;
    float: left;
    padding: 8px 10px
}

.cnv-container .toolbar button.active,
.cnv-container .toolbar button:hover,
.cp-container .toolbar button.active,
.cp-container .toolbar button:hover {
    background: #cfcfcf
}

.cnv-container .toolbar button.active,
.cp-container .toolbar button.active {
    background: #c4c4c4
}

.theme-1 {
    height: 100%
}

.theme-1 .content {
    min-height: 406px;
}

.theme-1 .slide {
    padding-top: 40px;
    padding-bottom: 70px;
    min-height: 100%
}

.theme-1 .slide .header {
    padding-bottom: 20px
}

.theme-1 .captions {
    min-height: 70px;
    background: #f3f3f3;
    font-size: 16px;
    margin-top: -70px;
    width: 100%
}

.theme-1 .captions .toggle {
    margin-top: 15px;
    min-height: 38px;
    height: 38px
}

.theme-1 .slide .navigation {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px
}

.theme-1 .slide .autoplay {
    font-family: 'Source Sans Pro', sans-serif;
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 12px;
    color: #c4c4c4
}

.theme-1 .slide .autoplay .title {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 80px;
    margin-top: 4px
}

.theme-1 .dds-directive .object {
    width: 55px;
    height: 55px
}

.theme-1 .dds-directive .object.type-0 {
    background: url(../images/polygon@3x.png) no-repeat;
    background-size: contain
}

.theme-1 .dds-directive .object.type-1 {
    background: url(../images/triangle@3x.png) no-repeat;
    background-size: contain
}

.toggle-group {
    background: #000;
    display: table;
    border-radius: 40px
}

.toggle-group .dlm {
    height: 30px;
    width: 2px;
    background: #fff;
    float: left
}

.toggle-group .toggle {
    float: left
}

.toggle {
    position: relative;
    background: #000;
    width: 60px;
    height: 30px;
    color: #fff;
    cursor: pointer;
    border-radius: 30px
}

.toggle .switcher,
.toggle .text {
    width: 30px;
    height: 30px;
    font-size: 15px;
    line-height: 30px;
    text-align: center
}

.toggle .switcher {
    border-radius: 50%;
    background: #fff;
    position: absolute;
    color: #000
}

.toggle .text {
    color: #fff;
    display: block;
    float: left
}

.toggle.enable .switcher {
    right: 0
}

.exm01 #svgDoc .active-round,
.exm01 #svgDoc .animated.hide-hovers .active-round,
.exm01 #svgDoc .step {
    opacity: 0
}

.exm01 #svgDoc .animated,
.exm01 #svgDoc .animated .active-round {
    opacity: 1
}

/* Custom CSS */
.threeLineSpace, .fourLineSpace, .fiveLineSpace{
	padding-top:52px;
	display:block;
	margin:0 auto;
}
.fourLineSpace{
	padding-top:85px;
}	
.fiveLineSpace{
	padding-top:125px;
}



